.top-menu{
    padding-right: 50px;
}

.banner-text h1 span{
	background: rgba(255, 255, 255, 0.15) !important;
	padding: 5px;
}
.btn-book{
color: #0098da !important; 
background-color: #fff !important; 
border:1px #0098da solid !important;
transition: all 0.5s;	
}
.btn-book:hover{
background: #0098da !important;
color: #fff !important;
border: 1px #fff solid !important;
transition: all 0.5s;
}

.room_detail{
padding: 10px;
border-radius: 	10px;
background-color: #fff;
box-shadow: 0px 0px 10px #696969;
}

.room_content h3, .room_content .room_description, .room_content .room_button{
margin-top:20px;
}	


.list_room_title{
	color: #0098da;
	font-weight:600;
	text-shadow: #fff 1px 1px;}

        /* code for animated blinking cursor */
    .typed-cursor{
        opacity: 1;
        font-weight: 100;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        -ms-animation: blink 0.7s infinite;
        -o-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-ms-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-o-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }

.wrapper-body{
    background-image: url("../images/bg.png") !important;
}

.footer{
    background-image: url("../images/bgfooter.jpg") !important;
}

.wrapper-body .container{
    background: transparent !important;
}

#jssor_1{
    width: 760px !important;
}

.form-control {
    opacity: 0.9;
    border: 1px solid #0098da !important;
}

.form-group label{
    color: #000 !important;
}