.row{
	margin: 5px;
}
.panel{
	border: 1px solid #6699FF;
	border-radius: 10px;
}
.submit{
	margin: auto;
}
.tab{
	padding: 12px;
}
.tab li{
	text-align: center;
}

.tab-1{
	margin: auto;
}
.tab-item{
    display: none;
}
.fc{
	margin: 10px;
}