/*
Lumino Admin Bootstrap Template
Version 1.0
*/


/*Global Styles*/

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #30a5ff;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #30a5ff;
	border-color: #30a5ff;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #8ad919;
	border-color: #8ad919;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }
.panel-pink { background: #e94167; color: #fff; }
.panel-yellow{background: #ffcc00; color: #fff}
.panel-purple{background: #4e3c66; color: #fff}
.panel-org{background: #d75c37;color: #fff}

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-pink .panel-body p,
.panel-yellow .panel-body p,
.panel-purple .panel-body p,
.panel-org .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-pink .panel-heading,
.panel-yellow .panel-heading,
.panel-purple .panel-heading,
.panel-org .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-pink .text-muted,
.panel-yellow .text-muted,
.panel-purple .text-muted,
.panel-org .text-muted,
.panel-red .text-muted { 
	color: rgba(255, 255, 255, .5); 
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
	.nnq{
		display: none;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }
.panel-pink .widget-left { background: #e94167; color: #fff; }
.panel-yellow .widget-left { background: #ffcc00; color: #fff; }
.panel-purple .widget-left { background: #4e3c66; color: #fff; }
.panel-org .widget-left { background: #d75c37; color: #fff; }

.panel-widget {
	background: #fff;
}

/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

/*Charts*/

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}
#easypiechart-pink .percent { color: #e94167;}
#easypiechart-yellow .percent { color: #ffcc00;}
#easypiechart-purple .percent { color: #4e3c66;}
#easypiechart-org .percent { color: #d75c37;}

/*Calendar Widget*/

#calendar, .datepicker-inline {
	width: 100%;
}

#calendar table {
	width: 100%;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: rgba(255, 255, 255, .50);
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .5);
	border-color: #285e8e;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: rgba(0, 0, 0, 0.25);
}

.panel-heading .glyphicon {
	margin-right: 10px;
}

/*Todo List Widget*/

.todo-list-item .glyphicon { 
	margin-right:5px; 
	color: #9fadbb; 
}

.todo-list-item .glyphicon:hover { 
	margin-right:5px; 
	color: #1b3548; 
}

.todo-list { 
	padding: 0;
	margin: -15px;
	background: #fff;
	color: #5f6468;
}

#checkbox {
	margin: 0;
}

.todo-list .checkbox { 
	display:inline-block; 
	margin: 0px;
}

.panel-body input[type=checkbox]:checked + label { 
	text-decoration: line-through;
	color: #777; 
}

.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
	background-color: #f6f6f6;
}

.todo-list-item .trash .glyph:hover {
	color: #ef4040;
}


/*Chat Widget*/

.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
}

.chat ul li {
	margin-bottom: 10px;
	padding: 15px 5px;
	border-bottom: 1px solid #eee;
}

.chat ul li.left .chat-body { margin-left: 100px;}
.chat ul li.right .chat-body { margin-right: 100px;}

.chat ul li .chat-body p {
	margin: 0;
}

.chat ul .glyphicon {
	margin-right: 5px;
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}

/*Tables*/
.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}

/*Icons*/


.sidebar .glyph, .user-menu .glyph {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	stroke-width: 3px;
}

.user-menu .glyph {
	stroke-width: 4px;
}

.breadcrumb .glyph {
	height: 14px;
	width: 14px;
	margin: -2px 0 0 0;
	stroke-width: 4px;
}

.alert .glyph, .panel-heading .glyph {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	stroke-width: 2px;
}

.panel-widget .glyph {
	stroke-width: 2px;
}

.todo-list .glyph {
	width: 14px;
	height: 14px;
	stroke-width: 4px;
	color: #999;
}

.glyph.table {
	background: none;
	border: none;
}

/*Icon Grid*/

.icon-grid div {
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	text-align: center;
	padding: 10px 0 20px 0;
}

.icon-grid svg {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.icon-grid h4 {
	display: none;
}

.icon-grid pre {
	margin: 10px 10px -10px 10px;
	border-radius: 0;
	font-size: 10px;
	border-color: #ddd;
	height: 65px;
	overflow: scroll;
}
/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Source Sans Pro', sans-serif;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*----*/
/*
.banner{
background:url(../images/banner.jpg) no-repeat 0px 0px;
min-height:720px;
background-size:cover;
}
*/
.banner-bg{
	position:relative;
}
.banner {
	position: absolute;
  top: 0;
  width: 80%;
  margin: 0 auto;
  left: 10%;
}
.header{
padding:3em 0;
}
.logo{
float:left;
}
.logo a{
display:inline-block;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.top-menu{
float:right;
padding-top:30px;
}
.top-menu ul {
  margin-top: .5em;
}
.top-menu ul li{
display:inline-block;
}
.top-menu ul li a{
color:#fff;
font-size:1.1em;
padding:0 1em 0em 1em;
text-decoration:none;
display:block;
font-weight:400;
}
.top-menu ul li a:hover{
color:#0199e6;
}
.banner-text{
	margin: 11em 0 0 0;
	text-align:center;
}
.banner-text h1{
font-size:3.2em;
color:#fff;
font-weight:500;
margin-bottom:0.5em;
font-family: 'Raleway', sans-serif;
}
.banner-text h1 span{
color:#0199e6;
font-weight:700;
}

/* start booking_room */
.booking-form{
	padding: 0 0 2em 0;
}
.booking_room h4{
	font-size: 1.5em;
	color: #202020;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}
.booking_room p{
	font-size: 0.8725em;
	color: #6b6b6b;
	line-height: 1.8em;
}
.reservation{
	padding: 16px 10px 32px 0;
	background: rgba(255, 255, 255, 0.27);
}
.reservation ul {
	padding: 0;
	margin: 0;
}
.reservation ul li{
	float: left;
	list-style:none;
}
.reservation ul li.left{
	margin-left: 15px;
}
.reservation ul li.span1_of_1{
	width: 24.33333%;
	margin-left: 5.5em;
}
.reservation ul li.span1_of_2{
	width: 9.33333%;
}
.reservation ul li.span1_of_3{
	width: 13.33333%;
	margin-left: 5.5em;
}
.reservation h5{
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin: 8px 0;
}
select {
	width: 100%;
	color: #9F9F9F!important;
	font-size: 14px!important;
	padding: 8px 10px;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.book_date input[type="text"]{
	width: 100% !important;
	color: #9F9F9F;
	font-size: 14px;
	padding: 8px 23px 8px 27px;
	outline: none;
	border: none;
	-webkit-appearance: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.date{
	background:url(../images/icon.png) no-repeat 3% 50% #FFF;
}
.date_btn{
	  margin: 2.3em 0 0 0;
}
.date_btn form input[type="submit"] {
	text-transform:capitalize;
	width: 90% !important;
	background: #0199e6;
	border: 1px solid #0199e6;
	color: #FFF;
	padding: 8px 10px;
	font-size: 16px;
	outline: none;
	font-weight:600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.date_btn form input[type="submit"]:hover{
	  background: rgba(0, 204, 255, 0);
	  border: 1px solid #0199e6;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--brief--*/
.brief{
padding:4% 0 3% 0;
}
.brief-grid{
margin-top:2em;
}
.brief-grid-text{
}
.brief-grid-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 0px 100%;
padding-bottom:0.5em;
margin-bottom:1em;
font-weight:500;
}
.brief-grid-text p{
color:#8e8e8e;
font-weight:400;
font-size:1em;
line-height:1.5em;
width: 91%;
}
/*--feature--*/
.features{
padding:3% 0; 
}
.feature-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.feature-text  p{
color:#8e8e8e;
font-weight:400;
font-size:1.2em;
line-height:1.5em;
}
.feature-grid i{
  width: 52px;
  height: 52px;
display:inline-block;
background:url(../images/feature.png) no-repeat 0px 0px;
}
.features-section{
margin-top:2em;
}
.feature-grid{
margin-bottom:2em;
}
.feature-grid i.f1{
  background-position: 0px 0px;
}
.feature-grid i.f2{
  background-position: -78px 0px;
}
.feature-grid i.f3{
  background-position: -155px 0px;
}
.feature-grid i.f4{
  background-position: -237px 0px;
}
.feature-grid h3 {
color:#393939;
font-family: 'Raleway', sans-serif;
font-size: 1.3em;
  margin: 1em 0 .5em;
font-weight: 700;
}
.feature-grid p {
color: #8e8e8e;
font-weight: 400;
font-size: 1em;
line-height: 1.5em;
width: 75%;
margin: 0 auto;
}
/*--video--*/
.video{
padding:3% 0;
}
.video-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.video-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
.video-left h4 {
  color: #393939;
  font-size: 25px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.video-grids {
  padding: 4em 0 0 0;
}
.video-left h5{
	color: #393939;
	font-size: 16px;
	margin: 1em 0;
}
.video-left  p{
	color: #8e8e8e;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
}
.video-right{
	position:relative;
}
.video-right img{
	width:100%;
}
.video-right a span{
	background:url(../images/play.png) no-repeat 0px 0px;
	width:48px;
	height:48px;
	display:block;
	position:absolute;
	top: 39%;
	left: 44%;
}
/*-----*/
.screenshots{
padding:3% 0;
}
.screen-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.screen-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
.box-grids{
margin-top:6%;
}
.box-grid{
position:relative;
background:#f7f8fa;
padding:2em;
border-radius:5px;
border-bottom:2px solid #D1D1D1;
}
.box-grid p{
color: #8e8e8e;
text-align:center;
  font-weight: 400;
  font-style:italic;
  font-size: 1em;
  line-height: 1.5em;
}
.box-grid span{
background:url(../images/box.png) no-repeat 0px 0px;
position:absolute;
top: -25px;
  left: 43%;
  display: block;
  width: 40px;
  height: 40px;
}
.box-grid label{
background:url(../images/dwn.png) no-repeat 0px 0px;
position:absolute;
bottom: -26px;
  left: 43%;
  display: block;
  width: 32px;
  height: 21px;
}
.sponcer{
width:60%;
margin:4em auto 0 auto;
}
#flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:250px;
	max-height:500px;
}
.grid-flex{
	margin:10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*-----*/
.trusted{
  padding: 0% 0 3%;
}
.trusted-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.trusted-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
.client h4{
font-size:1.2em;
text-align:center;
margin:2em 0 0.5em 0;
font-weight:600;
}
.client h4 a{
display:inline-block;
color:#0199e6;
}
p.ceo{
text-align:center;
color:#bdbdbd;
font-weight:400;
font-size:1em;
}
/*-----*/
.get-started{
background:url(../images/get.jpg) no-repeat 0px 0px;
min-height:400px;
padding:8% 0;
color:#fff;
background-size:cover;
text-align:center;
}
.get-started h4{
font-size:1.5em;
font-family: 'Raleway', sans-serif;
margin-bottom:1em;
font-weight:600;
}
.get-started h3{
font-size:2.8em;
font-weight:600;
margin-bottom:1em;
font-family: 'Raleway', sans-serif;
}
.get-started a{
padding: 12px 18px;
border: 1px solid #0199e6;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 600;
text-decoration:none;
background: #0199e6;
border-radius: 3px;
}
.get-started a:hover{
background:transparent;
border: 1px solid #0199e6;
}
/*-----*/
.contact{
  padding: 6% 0 2% 0;
}
.contact-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.contact-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
.contact-form{
margin-top:3em;
}
.text-box input[type="text"], .textarea textarea {
border: 2px solid #E5E5E5;
width: 100%;
padding: 0.85em;
border-radius: 0.3em;
margin-bottom: 1.5em;
color: #858585;
transition: border-color 0.3s;
-o-transition: border-color 0.3s;
-ms-transition: border-color 0.3s;
-moz-transition: border-color 0.3s;
-webkit-transition: border-color 0.3s;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
outline: none;
}
.textarea textarea {
height: 183px;
resize: none;
}
.textarea{
text-align:right;
}
.textarea input[type="submit"] {
background: #0199e6;
border: 1px solid #0199e6;
color: #fff;
  width: 23% !important;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
font-size: 1.1em;
padding: 0.7em 2.5em;
font-weight:600;
margin: 0 auto;
-webkit-appearance: none;
border-radius: 5px;
}
.textarea input[type="submit"]:hover{
color:#0199e6;
border: 1px solid #0199e6;
background:transparent;
}
.text-box input[type="text"]:hover, .textarea textarea:hover, .text-box input[type="text"]:focus, .textarea textarea:focus {
border-color:#008ed6;
}
.map{
	margin: 2em 0 0 0;
}
.map iframe {
  width: 100%;
  height: 209px;
}
/*----*/
.footer{
background:#050e12;
padding:2em 0;
text-align:center;
}
.footer a img{
display:inline-block
}
.copy-right{
margin-top:1em;
}
.copy-right p {
color: #7f7f7f;
font-size: 1.1em;
font-weight:600;
line-height: 1.5em;
}
.copy-right p a{
color: #7f7f7f;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
.online-form a{
  background: #0199e6;
  color: #FFF;
    border: 1px solid #0199e6;
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
  display: none;
  text-align: center !important;
  width: 50%;
  margin: 0 auto;
    padding: 5px 10px;
}
.online-form a:hover{
	background: transparent;
	border: 1px solid #0199e6;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
/*----responsive-start---*/
@media(max-width:1280px){
	.register span {
	  right: 43%;
	}
}
@media(max-width:1024px){
.banner-text {
  margin: 2em 0 0 0;
}
.reservation ul li.span1_of_1 {
  margin-left: 4em;
}
.video-left h4 {
  font-size: 20px;
}
.video-left p {
  overflow: hidden;
  height: 62px;
}
.top-menu ul li a {
  font-size: 1em;
}
.banner-text h1 {
  font-size: 3em;
} 
.banner-form form {
  width: 100%;
}
.banner-form form input[type="text"] {
  padding: 10px 14px;
  font-size: 1em;
}
.banner-form form input[type="submit"] {
  width: 18%;
  padding: 10px 14px;
  font-size: 1em;
}
.banner-text h2 {
  font-size: 1.2em;
  width: 66%;
}
.register {
  margin-top: 1em;
}
.register span {
  right: 39%;
}
.banner {
  min-height: 591px;
}
.brief-grids img {
  width: 100%;
}
.brief-grid-text h3 {
  font-size: 2.2em;
}
.brief-grid-text p {
  font-size: 1.1em;
}
.brief-grid-content1 h3, .brief-grid-content2 h3 {
  font-size: 1.2em;
}
.brief-grid-content1 p, .brief-grid-content2 p {
  font-size: 1.1em;
}
.feature-text h3,.pricing-text h3,.video-text h3,.screen-text h3,.trusted-text h3
,.contact-text h3{
  font-size: 2.2em;
}
.feature-grid p {
  font-size: 1.1em;
  width: 82%;
}
.pricing-text p,.screen-text p,.trusted-text p,.contact-text p{
font-size:1.1em;
}
.pricing-offer ul li a {
  font-size: 14px;
  padding: 11px 0;
}
.sign a {
  padding: 8px 1.5em;
  font-size: 1em;
}
h4 a.p2 {
  padding:3px 15px 4px 27px;
  margin: 0 3em;
}
.video-play h4 {
  font-size: 1.1em;
}
.trusted {
  padding:0 0 3% 0;
}
.sponcer {
  width: 80%;
}
.box-grid p {
  font-size: 1em;
}
.client h4 {
  font-size: 1.1em;
  margin: 2em 0 0.2em 0;
}
.get-started h4 {
  font-size: 1.2em;
}
.get-started h3 {
  font-size: 2.4em;
}
.get-started a {
  padding: 10px 21px;
  font-size: 1em;
}
.get-started {
  min-height: 265px;
} 
.video-play iframe {
  height: 400px;
  }
  }
@media (max-width: 768px){
.book_date input[type="text"] {
  padding: 8px 8px;
}
.video-left p {
  height: 66px;
}
.header {
  padding: 2em 0;
}
span.menu:before {
	content: url(../images/nav-icon.png);
	cursor: pointer;		
}
.top-menu {
width: 11%;
float: right;
margin: 0%;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
}
.top-menu ul li a {
	padding:6px;
	font-size: 13px;
	width: 100%;
}
 span.menu{
	display:block;
	float:right;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	background: rgba(1, 153, 230, 0.9);
	z-index: 999;
	position: absolute;
	width: 96%;
	text-align: center;
	top: 17%;
	left: 2%;
	margin-top:1%;
}
.top-menu  ul li a:hover{
color:#050e12;
}
.reservation ul li.span1_of_1 {
  margin-left: 3em;
}
.reservation ul li.span1_of_3 {
  width: 18%;
  margin-left: 3em;
}
.banner-text h1 {
  font-size: 2.5em;
}
.banner-text h2 {
  font-size: 1.1em;
  width: 75%;
}
.banner-form form input[type="text"] {
  padding: 7px 14px;
  font-size: 0.9em;
  width: 24%;
  }
.banner-form form input[type="submit"] {
  width: 20%;
  padding: 8px 14px;
  font-size: 0.9em;
}
.register {
  margin-top: 0.5em;
}
.register h3 {
  font-size: 1em;
}
.register span {
  right: 31%;
  bottom: 2px;
  background-size: 86%;
}
.banner {
  min-height: 535px;
}
.brief-grids {
  width: 50%;
  float: left;
}
.brief-grid-text h3 {
    font-size: 1.6em;
  margin-bottom: 0.5em;
}
.brief-grid-text p {
  font-size: 1em;
}
.brief-grid-content1 h3, .brief-grid-content2 h3 {
  font-size: 1.1em;
  margin-bottom: 4px;
}
.brief-grid-content1 p, .brief-grid-content2 p {
  font-size: 1em;
}
.brief-grid-content1,.brief-grid-content2 {
  padding: 0px 0px 22px 50px;
}
.feature-text h3, .pricing-text h3, .video-text h3, .screen-text h3, .trusted-text h3, .contact-text h3 {
  font-size: 2em;
}
.feature-text p {
  font-size: 1em;
}
.feature-grid {
  width: 50%;
  float: left;
}
.feature-grid h3 {
  font-size: 1.2em;
} 
.feature-grid p {
  font-size: 1em;
  width: 100%;
}
.pricing-grid {
  width: 33.3%;
  float: left;
} 
.pricing-offer ul li a {
  font-size: 13px;
  padding: 8px 0;
}
.sign a {
  padding: 7px 1.5em;
  font-size: 0.9em;
}
.video-play iframe {
  height: 340px;
  margin-bottom: 1em;
}
h4 a.p2 {
  margin: 0 0em;
}
.image-grid {
  width: 33.3%;
  float: left;
}
.client {
  width: 33.3%;
  float: left;
}
.box-grid {
  padding: 1.5em;
}
.box-grid p {
  overflow: hidden;
  height: 85px;
}
.get-started h4 {
  font-size: 1em;
}
.get-started h3 {
  font-size: 2.2em;
}
.get-started a {
  padding: 9px 21px;
  font-size: 0.9em;
}
.get-started {
  min-height: 203px;
}
.text-box,.textarea {
  width: 50%;
  float: left;
}
.text-box input[type="text"], .textarea textarea {
	font-size:0.9em;
  padding: 0.7em;
}
.textarea input[type="submit"] {
  font-size: 1em;
  padding: 0.6em 2.5em;
}
.textarea textarea {
  height: 157px;
} 
.sponcer {
margin: 4em auto 4em auto;
} 
.textarea input[type="submit"] {
  width: 37% !important;
}
}
@media (max-width: 640px){
.top-menu ul li a {
  padding: 0.5em 0.5em 0em 0.5em;
}
.banner-text h1 {
  font-size: 2.1em;
}
.banner-text {
  margin-top: 4%;
  }
.banner-text h2 {
  font-size: 1em;
  width: 79%;
}
.banner-form form {
  padding: 1.5em;
  margin: 2em auto 0 auto;
}
.banner-form form input[type="text"] {
  padding: 6px 14px;
  font-size: 0.85em;
  width: 24%;
}
.banner-form form input[type="submit"] {
  width: 19%;
  padding: 6px 14px;
  font-size: 0.85em;
}
.reservation ul li.span1_of_1:nth-child(3) {
  display: none;
}
.reservation ul li.span1_of_1:nth-child(4) {
  display: none;
}
.book_date input[type="text"] {
  font-size: 11px;
}
select {
  font-size: 11px!important;
}
.video-grids {
  padding: 1em 0 0 0;
}
.textarea input[type="submit"] {
  width: 46% !important;
}
.date_btn {
  margin: 1.3em 0 0 0;
}
.date_btn form input[type="submit"] {
  width: 100% !important;
  font-size: 12px;
}
.register h3 {
  font-size: 0.9em;
}
.register {
  width: 48%;
}
.register span {
  right: 30%;
  bottom: 0px;
  background-size: 86%;
  width: 30px;
}
.brief-grid-text h3 {
  font-size: 1.375em;
  margin-bottom: 0.5em;
}
.brief-grid-text p {
  font-size: 0.9em;
  width: 98%;
}
.brief-grid-content1 h3, .brief-grid-content2 h3 {
  font-size: 1em;
}
.brief-grid-content1 p, .brief-grid-content2 p,.feature-text p {
  font-size: 0.9em;
}
.feature-text h3, .pricing-text h3, .video-text h3, .screen-text h3, .trusted-text h3, .contact-text h3 {
  font-size: 1.8em;
}
.feature-grid h3 {
  font-size: 1.1em;
}
.feature-grid p {
  font-size: 0.9em;
  overflow: hidden;
  height: 57px;
}
.feature-grid:nth-child(4),.feature-grid:nth-child(5){
margin-bottom:0em;
}
.pricing-text p, .screen-text p, .trusted-text p, .contact-text p {
  font-size: 1em;
}
.pricing-grid:nth-child(3){
display:none;
}
.pricing-grid{
width:50%;
}
.image-grid {
  width: 50%;
}
.image-grid:nth-child(2){
display:none;
}
.image-grid img{
width:100%;
}
.sponcer {
  width: 70%;
  margin: 2em auto 0 auto;
}
}
@media (max-width: 480px){
.online-form a{
	display:block;
}
.booking-form {
  display: none;
    text-align: center !important;
}
.logo img {
background-size: 100%;
width: 100%;
}
.logo {
float: left;
width: 23%;
}
span.menu {
margin: 3px 8px 0px 0;
}
.banner-text h1 {
font-size: 1.8em;
}
.banner-text h2 {
font-size: 0.9em;
width: 100%;
}
.header {
padding: 2.5em 0;
}
.banner-form form input[type="text"] {
width: 46%;
margin-bottom: 1em;
}
.banner-form form input[type="submit"] {
width: 46%;
}
.banner-form form {
padding: 1em;
}
.register {
float:none;
width:80%;
display:inline-block;
text-align: center;
}
.register span {
right: 16%;
background-size: 86%;
width: 28px;
}
.brief-grid-text p {
  margin-bottom: 1em;
}
.brief-grids {
width: 100%;
}
.brief-grid-text h3 {
font-size: 1.5em;
}
.feature-text h3, .pricing-text h3, .video-text h3, .screen-text h3, .trusted-text h3, .contact-text h3 {
font-size: 1.5em;
}
.pricing-top {
padding: 1em 0;
}
.pricing-top h3 {
font-size: 1.5em;
margin-bottom: 5px;
}
.pricing-top p {
font-size: 0.85em;
}
.video-text p {
font-size: 0.9em;
}
.video-play {
margin: 2em auto;
width: 100%;
}
.video-play iframe {
height: 263px;
}
.video-play h4 {
font-size: 0.9em;
margin-bottom:1em;
}
.image-grid {
width: 100%;
margin-bottom: 1em;
}
.client {
width: 50%;
}
.client:nth-child(3){
display:none;
}
.sponcer {
width: 70%;
margin: 2em auto 4em auto;
}
.get-started h3 {
font-size: 1.4em;
}
.get-started a {
padding: 7px 19px;
font-size: 0.85em;
}
.get-started h4 {
font-size: 0.85em;
}
.get-started {
min-height: 162px;
}
.contact-form {
margin-top: 2em;
}
.text-box, .textarea {
width: 100%;
padding: 0;
}
.textarea {
  text-align: left;
}
.copy-right p {
font-size: 0.9em;
}
}
@media (max-width: 320px){
.header {
  padding: 0.5em 0;
}
.banner-text h1 {
  font-size: 1.2em;
}
.online-form a {
  font-size: 1em;
}
.banner-text h2 {
overflow: hidden;
height: 21px;
}
.banner-form form input[type="text"] {
width: 100%;
margin-right:0;
}
.banner-form form {
padding: 0.6em;
text-align: center;
margin: 1em auto 0 auto;
}
.banner-text {
  margin-top: 10%;
}
.video-text p {
  height: 20px;
}
.video-left h4 {
  font-size: 14px;
}
.video-left h5 {
  display: none;
}
.video-left p {
  font-size: .9em;
  line-height: 1.2em;
    height: 48px;
  margin-top: .5em;
}
.video-right img {
  margin-top: 1em;
}
.logo {
width: 30%;
}
.banner {
min-height: 423px;
}
.register {
width: 98%;
margin-top:1em;
}
.brief-grids {
padding: 0;
}
.brief-grid-text h3 {
font-size: 1.4em;
}
.brief-grid {
margin-top: 1.3em;
}
.brief-grid-content1 p, .brief-grid-content2 p {
width: 100%;
}
.feature-grid {
width: 100%;
}
.feature-grid {
width: 100%;
padding: 0;
margin-bottom:1em;
}
.feature-grid:nth-child(4), .feature-grid:nth-child(5) {
margin-bottom: 1em;
}
.register span {
right: 14%;
transform: rotate(-96deg);
bottom: 11px;
}
.pricing-text p, .screen-text p, .trusted-text p, .contact-text p {
font-size: 0.9em;
overflow: hidden;
height: 18px;
}
.pricing-grid {
width: 100%;
padding: 0;
margin-bottom:1.3em;
}
.video-play iframe {
height: 176px;
}
.image-grid {
padding: 0;
}
.client {
width: 100%;
margin-bottom: 4em;
padding:0;
}
.client:nth-child(2){
margin-bottom:2em;
}
.get-started h4 {
font-size: 0.8em;
}
.get-started h3 {
font-size: 1.2em;
line-height: 1.3em;
}
.get-started a {
padding: 5px 14px;
font-size: 0.8em;
}
.textarea textarea {
height: 115px;
}
.textarea input[type="submit"] {
font-size: 0.9em;
padding: 0.5em 2.5em;
}
.footer a img{
background-size:100%;
width:34%;
}
.copy-right {
margin-top: 0.5em;
}
.top-menu ul {
  margin: 0;
  background: rgba(1, 153, 230, 0.9);
  z-index: 999;
  position: absolute;
  width: 96%;
  text-align: center;
  top: 0;
  left: 2%;
  margin-top: 20%;
}

.navbar{
    position: inherit !important;
}






