.booking-form input{
	background: #fff ;
}

.booking-form select{
	background: #fff ;
	background: url(../images/room.png) no-repeat 3% 50% #FFF !important;
	width: 100% !important;
    color: #9F9F9F;
    font-size: 14px;
    padding: 8px 23px 8px 27px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.reservation{
	border-radius: 5px;
    padding: 16px 10px 70px 0;
    background: rgba(0, 152, 218, 0.38);
}

.date{
	background: url(../images/icon.png) no-repeat 3% 50% #FFF !important;
}